<h1>Bienvenue !</h1>
<p>Merci de choisir votre interface :</p>
<p><a href="/">Retourner à l’accueil</a></p>
</br>
<p><a href="/reinit">Réinitialiser la battle</a></p>
<p><a href="/linguini">Interface de Linguini</a></p>
<p><a href="/coh">Interface du chief of happiness</a></p>
<p><a href="/reinit">Sélectionné.e.s la battle</a></p>
