

<h1>Cakes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Selectioned</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cakes.each do |cake| %>
      <tr>
        <td><%= cake.name %></td>
        <td><%= cake.selectioned %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
