<h1>Résultats !</h1>
<p>Sélectionné.e.s :</p>
<% @selected_colleagues.each do |colleague|%>
  <%= colleague.pastry %></br>
  <% if colleague.details != nil %>
  Chocolat <%= colleague.details %>
  </br>
  <% end %>

  <%= colleague.name %>

  </br></br>
<% end %>
  </br>
  <p><a href="/">Retourner à l’accueil</a></p>

  <p><a href="/reinit">Réinitialiser la battle</a></p>
