<h1>Bienvenue !</h1>
<p>Merci de choisir votre interface :</p>
<p><a href="/linguini">Aller à Linguini</a></p>
</br>
<p><a href="/coh">COH</a></p>
</br>
<p><a href="/reinit">Réinitialiser la battle</a></p>
