<h1>Bienvenue !</h1>
<p>Merci de choisir votre interface :</p>
<p><a href="/linguini">Interface de Linguini</a></p>
<p><a href="/coh">Interface du chief of happiness</a></p>
</br>
<p>Vous voulez voir où en est la sélection :</p>
<p><a href="/result">Sélectionné.e.s la battle</a></p>
<p><a href="/reinit">Réinitialiser la battle</a></p>
</br>
<p>Vous voulez voir les bases de données :</p>
<p><a href="/colleagues">Base de données des collègues</a></p>
<p><a href="/patisseries">Base de données des pâtisseries</a></p>
